<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
         

<li>
            <a routerLink="/listelivreur"><i class="fa fa-desktop "></i>Livreur</a>
            </li>
           

            <li>
                <a routerLink="/listerestorateur"><i class="fa fa-table "></i>listerestorateur</a>
            </li>
            
            <li>
                <a routerLink="/listeresto"><i class="fa fa-table "></i>Liste restaurant</a>
            </li>
            
            <li>
                <a routerLink="/client"><i class="fa fa-table "></i>Client</a>
            </li>
            
            <li>
                <a routerLink="/beneficefull"><i class="fa fa-table "></i>Benefice</a>
            </li>
            
        </ul>
                    </div>

</nav>
