<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
         

<li>
            <a routerLink="/listelivreur"><i class="fa fa-users "></i>Livreur</a>
            </li>
           

            <li>
                <a routerLink="/listerestorateur"><i class="fa fa-users"></i>listerestorateur</a>
            </li>
            
            <li>
                <a routerLink="/listeresto"><i class="fa fa-rocket"></i>Liste restaurant</a>
            </li>
            
            <li>
                <a routerLink="/client"><i class="fa fa-comments-o"></i>Client</a>
            </li>
            
            <li>
                <a routerLink="/beneficefull"><i class="fa fa-circle-o-notch"></i>Benefice</a>
            </li>
            
        </ul>
                    </div>

</nav>
